@import url('https://fonts.googleapis.com/css2?family=Baloo+Bhai+2:wght@400..800&family=Black+Ops+One&family=Geist+Pixel&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');
*{
    margin: 0;
    padding: 0;
}
a,ul{
    text-decoration: none;
    color: black;
    list-style: none;
}
.head{
    height: 150px;
    width: 100%;
    color: white;
    background-color: rgb(86, 90, 93);
    /* margin: auto; */
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5vw;
}
.head .txt{
    font-family: "Black Ops One", system-ui;
    display: flex;
}
.head .ad{
    height: 50%;
    width: 45%;
    background-color: rgb(249, 249, 249);
    color: rgb(122, 126, 126);
    display: flex;
    justify-content: center;
    align-items: center;
}
.head2{
    border-bottom: 5px solid rgb(217, 75, 64);
    background: rgb(54, 58, 61);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}
.head2 ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1vw;
    color: white;
}
.head2 li a{
    color: white;
    font-family: "Geist Pixel", sans-serif;
    font-weight: 500;
}
.head2 li a:hover{
    background-color: rgb(217, 75, 64);
    color: white;
}
.main{
    margin: 2% auto;
    display: flex;
    justify-content: center;
    width: 90%;
    gap: 1vw;
    border: 5px solid black;
}
.main .left{
    width:65%;
    border: 4px solid red;
}
.main .left #txt{
    padding-top: 30vh;
}
.left #div1{
    /* border: 4px solid; */
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-image: url("https://plus.unsplash.com/premium_photo-1677620224068-b0ac80467f77?w=600&auto=format&fit=crop&q=60&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxzZWFyY2h8N3x8dG93bnxlbnwwfHwwfHx8MA%3D%3D");
    width: 100%;
    height: 30%;
    color: white;
    /* text-align:start; */

}
.left .div2,.div3,.div4,.div5,.div6,.div7,.div8{
    width: 100%;
    display: flex;
}
.left .div2,.div3,.div4,.div5,.div6,.div7,.div8 .img{
    width: 30%;
    padding: 15px;
    background-size: 100% 100%;
    background-repeat: no-repeat;
    /* background-image: ; */
    background-color: red;
}
